<div class="panel panel-primary">
  <div class="panel-heading">Your cart:</div>
    

  <div class="panel-body" *ngIf="cartList">
      SortBy: <select #sortBy>
          <option>name</option>
          <option selected>price</option>
          <option>amount</option>
        </select>
        Asc: <input #descAsc id="descAsc" type="checkbox" (change)="0">
    <div *ngFor="let cartItem of (cartList | orderBy:sortBy.value:descAsc.checked)">
      <app-cart-item (delete)="onCartItemDelete($event)" #counter [cartItem] = "cartItem"></app-cart-item>
      <div>
        <button (click)="counter.increment()">+</button>
        <button (click)="counter.decrement()">-</button>
      </div>
    </div>
  </div>
  <div>
    <div>Number: {{numberOfCartedItems}}</div>
    <div>Summ: {{summ}}</div>
  </div>
</div>
