<div [ngClass]="{'unavailable': product.isAvailable == false }" style="margin: 10px">
  <p class="title">{{product.name}}</p>
  <details style="cursor:pointer; margin: 10px" open="true">
    <ul>
      <li>Description: {{product.description}}</li>
      <li>Price: {{product.price | currency:'EUR'}}</li>
      <li *ngIf="product.category" >Category: {{product.category | uppercase}}</li>
      <li *ngIf="product.isAvailable == false">SOLD</li>
      <li *ngIf="product.lastUpdate">Last updated: {{product.lastUpdate | date:'shortDate'}}</li> 
    </ul> 
  </details>

  <button class="btn" [ngStyle]="{'background-color' : product.isAvailable == false ? '#d3d3d3' : '#90EE90' }" 
  [disabled]="product.isAvailable == false"
  (click)="addToCart(product.id, product.name, product.price)" >{{'Add to Cart' | uppercase}}</button>
 
  <button class="btn btn-warning"
  (click)="editProduct()">Edit</button>
</div>
