<div class="panel panel-default">
  <div class="panel-heading">
      <h4 class="pannel-title">
          Product Information
      </h4>
  </div>
  <div class="panel-body">
      <div *ngIf="product">
        <div>
          <label for="name">Name</label>
          <input disabled type="text"
              class="form-control"
              id="name" name="name"
              required
              [(ngModel)]="product.name">
        </div>
        <div >
          <label for="description">Description</label>
          <input disabled type="text"
              class="form-control"
              id="description" name="description"
              [(ngModel)]="product.description">
        </div>
        <div >
          <label for="price">Price</label>
          <input disabled type="number"
              class="form-control"
              id="price" name="price"
              [(ngModel)]="product.price">
        </div>
        <div >
            <label for="lastUpdate">Last Updated</label>
            <input disabled type="date"
                class="form-control"
                id="lastUpdate" name="lastUpdate"
                [ngModel]="product.lastUpdate | date:'yyyy-MM-dd'" (ngModelChange)="product.lastUpdate = $event">
        </div>
        <div >
            <label for="category">Category</label>
            <input disabled type="text"
                class="form-control"
                id="category" name="category"
                [(ngModel)]="product.category">
        </div>
        <button
            type="button"   
            class="btn btn-primary"
            (click)="goBack()">Back
        </button>
      </div>
  </div>
</div>
