<!--
<div class="container">
    <div class="jumbotron">
        <app-demo-component></app-demo-component>
        <app-product-list></app-product-list>
        <app-cart-list></app-cart-list>
        <app-feedback></app-feedback>
</div>
-->
<div class="container">
    <router-outlet
             (activate)='onActivate($event)'
             (deactivate)='onDeactivate($event)'>
    </router-outlet>
    <!-- Routed views go here -->
</div>

<div>
    <div>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" routerLink="/home">Shop</a>
                </div>

                <div>
                    <ul class="nav navbar-nav">
                    <li routerLinkActive="active">
                        <a routerLink="/cart">Cart</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/admin">Admin</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/login">Login</a>
                    </li>                               
                    <li routerLinkActive="active">
                    <a routerLink="/about" >About</a>
                    </li>
                </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            <div class="col-md-10">
                <router-outlet
                    (activate)='onActivate($event)'
                    (deactivate)='onDeactivate($event)'>
                </router-outlet>
                <!-- Routed views go here -->
            </div>
        </div>
    </div> 
</div>
