<div>
    <div>
        <nav class="navbar navbar-default">
            <div class="container-fluid" id="shop-navbar">
                <div class="navbar-header">
                    <a class="navbar-brand" routerLink="/home">{{shopTabName}}</a>
                </div>

                <div>
                    <ul class="nav navbar-nav">
                    <li routerLinkActive="active">
                        <a routerLink="/cart">{{cartTabName}}</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/admin">{{adminTabName}}</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/login">{{loginTabName}}</a>
                    </li>                               
                    <li routerLinkActive="active">
                    <a routerLink="/feedback" >{{feedbackTabName}}</a>
                    </li>
                </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            <div class="col-md-10">
                <router-outlet
                    (activate)='onActivate($event)'
                    (deactivate)='onDeactivate($event)'>
                </router-outlet>
                <!-- Routed views go here -->
            </div>
        </div>
    </div> 
</div>
